# Python cache
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Logs
*.log

# Generated Excel files
files/

# macOS
.DS_Store
